TALLER #4 CURSO DE LENGUAJES DE PROGRAMACIÓN PYTHON

1) Identifica el tipo de dato (int,float,string o list) de los siguientes valores literales

In [ ]:
a = "Hola Mundo"
b = [1, 10, 100]
c = -25
d = 1.167
e = ["Hola", "Mundo"]

"Hola Mundo" es string

In [ ]:
type(a)

str

[1, 10, 100] es list

In [ ]:
type(b)

list

-25 es int

In [ ]:
type(c)

int

1.167 es float

In [ ]:
type(d)

float

["Hola", "Mundo"] es list

In [ ]:
type(e)

list

2) Operadores lógicos

a. Crear una variable que se llama mínimo, que tenga valor de 20.

In [ ]:
minimo = 20

b. Crear una variable numérica máximo dentro del valor de 500.

In [ ]:
maximo = 500

c. Recoger un valor del teclado y almacenarlo en la variable dato

In [ ]:
dato = input()

25

d. Convertir la variable dato en un numero y almacenarlo en la variable número

In [ ]:
numero = int(dato)

e. Si ese número es menor que el valor minimo entonces mostrar el texto valor bajo

In [ ]:
if numero < minimo:
    print("Valor bajo")

f. Si el número es mayor que el máximo, mostrar el texto valor alto

In [ ]:
if maximo < numero:
    print("Valor alto")

g. Si el número está entre el mínimo y el máximo. Es decir, es mayor que el mínimo y menor que el máximo mostramos el texto valor medio

In [ ]:
if minimo < numero and numero < maximo:
    print("Valor medio")

Valor medio

3) El siguiente código pretende realizar una media entre 3 números, pero no funciona correctamente. ¿Identificar el problema y solucionarlo?

Codigo original:

In [ ]:
numero_1 = 9
numero_2 = 3
numero_3 = 6
media = numero_1 + numero_2 + numero_3 / 3
print("La nota media es", media)

La nota media es 14.0

Solución:

In [ ]:
numero_1 = 9
numero_2 = 3
numero_3 = 6
media = (numero_1 + numero_2 + numero_3)/ 3
print("La nota media es", media)

La nota media es 6.0

Explicacióm: al no colocar parentesís, el 3 solo estaba dividiendo a numero_3, en vez de la sumatoria de los 3 numeros, por lo cual no daba un resultado correcto, al colocar los parentesís se suman primero las tres variables, y posteriormente son divididas entre 3, como debería ser

4) A partir del ejercicio anterior, vamos a suponer que cada número es una nota, y lo que queremos es obtener la nota final teniendo en cuenta que cada nota tiene un valor porcentual:

- La primera nota vale un 15% del total
- La segunda nota vale un 35% del total
- la tercera nota vale un 50% del total

Desarrolla un programa para calcular perfectamente la nota final.

In [ ]:
numero_1 = 9 * 15
numero_2 = 3 * 35
numero_3 = 6 * 50
final = (numero_1 + numero_2 + numero_3)/100
print("La nota final es", final)

La nota final es 5.4

5) Realiza un programa que lea 2 números y determine los siquientes aspectos (es suficiente con mostrar True o False)

In [ ]:
num_1 = int(input())
num_2 = int(input())

25
30

Si los dos números son iguales

In [ ]:
if num_1 == num_2:
  print("Son iguales")

Si los dos números son diferentes

In [ ]:
if num_1 != num_2:
  print("Son diferentes")

Son diferentes

Si el primero es mayor al segundo

In [ ]:
if num_1 > num_2:
  print("Es mayor el primero al segundo")

Si el segundo es mayor o igual que el primero

In [ ]:
if num_2 >= num_1:
  print("El segundo número es mayor o igual al primero")

El segundo número es mayor o igual al primero

6) Utilizando operadores lógicos, determina si una cadena de texto introducida por el usuario tiene una longitud mayor o igual que 3 
y a su vez es menor que 10 (es suficiente con mostrar true o false)

In [ ]:
texto = input()
long_texto = len(texto)
if long_texto >= 3 and long_texto < 10:
  print(long_texto," es mayor o igual a 3 y menor a 10")
else:
  print(long_texto," es menor a 3 o mayor a 10")

Camilo
6  es mayor o igual a 3 y menor a 10

7) Crea un diccionario con los siguientes pares de valores

MANZANA, APPLE
NARANJA, ORANGE
PLÁTANO, BANANA
LIMÓN, LEMON

In [ ]:
par1 = ["MANZANA","APPLE"]
par2 = ["NARANJA","ORANGE"]
par3 = ["PLÁTANO","BANANA"]
par4 = ["LIMÓN","LEMON"]

dicc = [par1,par2,par3,par4]

Muestre la traducción para la palabra NARANJA, después añade un elemento nuevo con los valores PIÑA y PINEAPPLE y haz un bucle para mostrar todos los elementos del diccionario

Traducción para la palabra NARANJA

In [ ]:
palabra_a_buscar = "NARANJA"
for n in dicc:
  if n[0] == palabra_a_buscar:
    print(n[1])

ORANGE

Añadir elemento nuevo con los valores PIÑA y PINEAPPLE

In [ ]:
add_dicc = ["PIÑA", "PINEAPPLE"]
dicc.append(add_dicc)
print(dicc)

[['MANZANA', 'APPLE'], ['NARANJA', 'ORANGE'], ['PLÁTANO', 'BANANA'], ['LIMÓN', 'LEMON'], ['PIÑA', 'PINEAPPLE']]

Bucle para mostrar todos los elementos del diccionario

In [ ]:
for n in dicc:
  print(n)

['MANZANA', 'APPLE']
['NARANJA', 'ORANGE']
['PLÁTANO', 'BANANA']
['LIMÓN', 'LEMON']
['PIÑA', 'PINEAPPLE']

8) Realiza un programa que cumpla el siguiente algoritmo utilizando siempre que sea posible operadores en asignación:

Guardar en una variable numero_magico el valor 12345679

In [ ]:
numero_magico = 12345679

Cree una variable con nombre numero_usuario, especifica que sea entre 1 y 9

In [ ]:
numero_usuario = 0
e = False
while e == False:
  numero_usuario = int(input("Ingrese un numero que esté entre el 1 y el 9"))
  if 1 <= numero_usuario and numero_usuario <= 9:
    e = True
  else:
    print("El número no está entre el 1 y el 9")

Ingrese un numero que esté entre el 1 y el 912
El número no está entre el 1 y el 9
Ingrese un numero que esté entre el 1 y el 95

Multiplica el numero_usuario por 9 en sí mismo

In [ ]:
numero_usuario = numero_usuario * 9

Multiplica el numero_magico por el numero_usuario

In [ ]:
numero_magico = numero_magico * numero_usuario

Finalmente muestra el valor final del numero_magico por pantalla

In [ ]:
print(numero_magico)

555555555

9) Realiza una función que va a tener 3 parámetros

Número 1
Número 2
Opción

- Si la opción es 1 Mostrar una suma de los dos números
- Si la opción es 2 Mostrar una resta de los dos números (el primero menos el segundo)
- Si la opción es 3 Mostrar una multiplicación de los dos números

In [ ]:
def mi_excelente_funcion(numero1,numero2,opcion):
  if opcion == 1:
    sol = numero1 + numero2
  elif opcion == 2:
    sol = numero1 - numero2
  elif opcion == 3:
    sol = numero1 * numero2
  print(sol)

Opcion 1

In [ ]:
mi_excelente_funcion(5,10,1)

15

Opcion 2

In [ ]:
mi_excelente_funcion(64,24,2)

40

Opcion 3

In [ ]:
mi_excelente_funcion(4,12,3)

48

10) Realiza una función que tenga un parámetro que reciba un número, la cual debe determinar si el número ingresado corresponde a un número par o impar retornar respuesta que indique si el número es par o impar

In [ ]:
def otra_funcion(numero):
  if numero % 2 == 0:
    print("Es par")
  else:
    print("Es impar")

In [ ]:
numero = int(input())
otra_funcion(numero)

24
Es par

11) Realiza un programa que sume todos los números pares desde 0 hasta el 100:

Sugerencia: Puedes utilizar la funciones sum() y range() para hacerlo más fácil. El tercer parámetro en la función range(inicio, fin, salto) indica un salto de números, pruébalo.

In [ ]:
rango = range(0,100,2)
suma = []
for n in rango:
  suma.append(n)
suma_total = sum(suma)
print(suma_total)

2450

12) Dadas dos listas, debes generar una tercera con todos los elementos que se repitan en ellas, pero no debe repeturse ningún elemento en la nueva lista:

In [ ]:
lista_1 = ["h",'o','l','a',' ', 'm','u','n','d','o']
lista_2 = ["h",'o','l','a',' ', 'l','u','n','a']

lista_3 = []
for n in lista_1:
  for m in lista_2:
    if n  == m:
      if n not in lista_3:
        lista_3.append(n)

print(lista_3)

['h', 'o', 'l', 'a', ' ', 'u', 'n']

13) Utilzando una condición if-elif-else debes realizar un programa que compare la longitud de dos variables (cadena_1 y cadena_2) y en función del resultado almacene un valor en otra variable llamada resultado

In [ ]:
CADENA_1 = input("Cadena 1 ")
cadena_1_len = len(CADENA_1)
CADENA_2 = input("Cadena 2 ")
cadena_2_len = len(CADENA_2)

resultado = 0

Cadena 1 Camilo
Cadena 2 Juan

Si **cadena_1** es más larga que **cadena_2** la variable resultada deberá tener el valor entero 1

In [ ]:
if cadena_1_len > cadena_2_len:
  print("Cadena 1 es más larga que la cadena 2")
  resultado = 1
  print("Resultado: ",resultado)

Cadena 1 es más larga que la cadena 2
Resultado:  1

Si **cadena_1** es más corta que **cadena_2** la variable resultada deberá tener el valor entero 2

In [ ]:
if cadena_1_len < cadena_2_len:
  print("Cadena 2 es más larga que la cadena 1")
  resultado = 2
  print("Resultado: ",resultado)

Si cadena_1 tiene la misma longitud que cadena_2 la variable resultada deberá tener el valor entero 0

In [ ]:
if cadena_1_len < cadena_2_len:
  print("Cadena 2 es más larga que la cadena 1")
  resultado = 0
  print("Resultado: ",resultado)

14) Realiza un programa que lea un número impar por teclado. Si el usuario no introduce un número impar, debe repetirse el proceso hasta que lo introduzca correctamente

In [ ]:
val = False
while val == False:
  par = int(input("Ingrese un número impar"))
  if par % 2 ==0:
    print("Error, el número ingresado no es impar")
  else:
    val = True
print("Es impar... ha finalizado el programa")

Ingrese un número impar82
Error, el número ingresado no es impar
Ingrese un número impar44
Error, el número ingresado no es impar
Ingrese un número impar3
Es impar... ha finalizado el programa

15) Realiza una función llamada area_rectangulo() que devuelva el área del rectángulo a partir de una base y una altura. Calcula el área de un rectángulo de 15 de base y 10 de altura.
Nota: El área de un rectángulo se obtiene al multiplicar la base por la altura.

In [ ]:
def area_rectangulo(base,altura):
  area=base*altura
  print(area)

In [ ]:
area_rectangulo(15,10)

150

16) Realiza un programa que pida al usuario un número entero del 0 al 9, y que mientras el número no sea correcto se repita el proceso. Luego debe comprobar si el número se encuentra en la lista de números y notificarlo

In [83]:
numero = -1
while numero < 0 or numero > 9:
  numero = int(input("Ingrese un número entero del 0 al 9 "))
  if numero < 0 or numero > 9:
    print("No cumple las condiciones")
print("El número ",numero," si cumple las condiciones")

Ingrese un número entero del 0 al 9 65
No cumple las condiciones
Ingrese un número entero del 0 al 9 85
No cumple las condiciones
Ingrese un número entero del 0 al 9 -25
No cumple las condiciones
Ingrese un número entero del 0 al 9 5
El número  5  si cumple las condiciones

17) Crear una función lambda que calcule la media de tres notas.

In [ ]:
funcion_lambda = lambda x,y,z : (x+y+z)/3
print(funcion_lambda(5,6,2))

4.333333333333333